# ---------------------------------
# Node & npm (in caso tu usi JS o build tools)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------------------
# Docker
db_data/
wp_data/*
!wp_data/wp-content/
!wp_data/wp-content/themes/
!wp_data/wp-content/themes/**
!wp_data/wp-content/plugins/
!wp_data/wp-content/plugins/**
*.env
*.log

# ---------------------------------
# WordPress
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# ---------------------------------
# IDE / Editor
.vscode/
.idea/
*.iml

# ---------------------------------
# Sistema operativo
.DS_Store
Thumbs.db

# ---------------------------------
# Output temporanei o compilati
tmp/
out/
dist/
build/